.big-wholecontainer{
    background-image: url(https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/diwali-bg.png);
    background-size:cover;
    padding:40px;
    height:30vh;
}
.heading{
    color:white;
    font-family: caveat;
    font-size: 30px;
}
.big-container{
    background-color: #e6f6ff;
    padding: 10px;
    text-align:center;
}
.image{
    height:50px;
    width:50px;
}
.diwali-cart-paragraph{
    font-size: 12px;
    color: grey;
}
.diwali-cart-heading{
    font-size:20px;
    font-size: bold;
}
.diwali-cart-item{
    text-align:center;
    background-color: white;
    padding: 10px;
    width:140px;
    height: 160px;
    margin: 10px;
    border-radius: 10px;
}